#topbar
{
background-color:#1F1F1F;
height:30px;
width:100%;
}
body
{
background-color:white;

}
#container
{

width:80%;
margin:0px auto;
}
#header
{
height:80px;
background-color:#FEFEFE;

}
#header img
{
height:80px;
}

#header ul
{
float:right;

}
#header ul li
{
display:inline;
margin-right:30px;
}
#header ul li a
{
color:black;
text-decoration:none;
font-size:20px;
}
#banner img
{height:600;
width:100%;
padding-bottom:3%;

}
#content1
{
width:32%;
height:300px;
background-color:orange;
float:left;
margin-right:2%;
}
#content2
{
width:32%;
height:300px;
background-color:yellow;
float:left;

}
#content3
{
width:32%;
height:300px;
background-color:lime;
float:right;
margin-left:2%;
}
.heading1
{
color:white;
margin-left:50px;
font-size:28px;
padding-left:60px;
}
.para1 
{
color:white;
margin:30px;

}
.heading2 
{
color:black;
margin-left:50px;
font-size:28px;
padding-left:60px;
}
.para2 
{
color:black;
text-decoration:none;
margin:10px;


}

 ul 
{

list-style-type:none;
}

.heading3
{
color:white;
margin-left:50px;
font-size:28px;
padding-left:60px;

}
.para3
{
text-decoration:none;
color:white;
margin:10px;
}
ul
{
list-style-type:none;
}
.more1 button
{
color:black;
background-color:white;
margin-left:170px;
}
.more2 button
{
color:black;
background-color:white;
margin-left:170px;
}
.more3 button
{
color:black;
background-color:white;
margin-left:190px;
}
#bottom1
{
background-color:white;
height:300px;
width:70%;
float:left;
margin-top:15px;
}
#bottom2
{
background-color:white;
height:300px;
width:30%;
float:right;
margin-top:15px;
}
.bottomcontent1
{
color:black;
margin:60px;
float:left;
font-size:16px;
text-justify:inter-word;
}

.people img
{
height:418px;
}
#bottombar
{
background-color:#1F1F1F;
height:60px;
width:100%;
clear:both;

}
#bottombar p
{
color:white;
float:right;
margin-right:10px;
}

